.p-thread-list{
  margin-top: 50px;
  &__listbox{
    width:100%;
    margin-bottom: 100px;
  }
  &__list{
    display: block;
    width:900px;
    margin:auto;
  }
  &__list-item{
    padding:20px;
    border:solid $color_border 1px;
    margin-top: 80px;
  }
  &__detailbox{
    display: flex;
    border-bottom:solid $color_border 1px;
    padding-bottom: 10px;
  }
  &__date{
    margin-right:20px;
  }
  &__user{

  }
  &__title{
    padding: 10px 5px;
    font-size: 2.5rem;
  }
}